# Prerequisites
*.d
*.user
Debug
debug
Release
release

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python
.venv
.idea

# Unzipped Mesh
Mesh/2D/*/*/M1/
Mesh/2D/*/*/M2/
Mesh/2D/*/*/M3/
Mesh/2D/*/*/M4/
Mesh/2D/*/*/M5/




